html {
    background-color: violet
}

body {
    width: 720px;
    color: white;
    margin: 0 auto;
    background-color: blue;
    padding: 0 20px 20px 20px;
    border: 20px solid black
}

h1 {
    color: white;
    border: 1px solid black;
    font-size: 60px;
    text-align: left;

    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: 1px solid black;    
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

img:hover {
    cursor: pointer;
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
    margin: 25px auto;
    padding: 25px;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 25px;
    background: lightgray;
    color: black;
    order: 1;
}

.mytabs .tab {
    width: 100%;
    text-align: left;
    order: 2;
    display: none;
}

.mytabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background-color: white;
}

.mytabs label:hover {
    cursor: pointer;
    background-color: pink;
}